<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br/>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
          <%= pluralize(@user.favorites.count, 'favorites') %>
          <%= pluralize(@user.votes.count, 'votes') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>

<% if has_posts_or_comments?(@user) %>
  <p><%= @user.name %> has not submitted any posts yet.</p>
 <% else %>
  <%= render @user.posts %>
<% end %>
<hr>

<h2>Comments</h2>
<% if has_posts_or_comments?(@user) %>
  <p><%= @user.name %> has not submitted any comments yet.</p>
 <% else %> 
  <%= render @user.comments %>
<% end %>
<hr>

<h2>Favorites</h2>
<% if has_favs?(@user) %>
  <p><%= @user.name %> has not submitted any comments yet.</p>  
<% else %>
  <% @user.favorites.each do |fav| %>
  <div class="media-left">
    <%= image_tag fav.post.user.avatar_url(48) %>
  </div>
  <div class="media-left">
    <%=fav.post.title %>
    <small>
        <%= pluralize(fav.post.votes.count, 'votes') %>
        <%= pluralize(fav.post.comments.count, 'comments') %>
    </small>
  </div>
  <br>
  <% end %>
<% end %>
